*{
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
}
.custom-navbar {
  background-color: blue; 
  padding: 0.8rem 1.5rem;
  border-bottom: 2px solid red;
  
}
.text-fluor:hover {
  color: white;
}
.text-fluor {
  color: red;
  text-decoration: none;

}
ul {
  min-width: 450px;
  margin: 2rem ;
  padding: 1rem;
}

li {
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
